.cardlink-box {
    display: flex;
    text-decoration: none;
    border: 1px solid var(--dark);
    border-radius: 8px;
    margin: 16px 0;
    transition: box-shadow 0.3s ease;
    color: var(--dark);
    overflow: hidden;
    position: relative;

    &:hover {
        background-color: var(--lightgray);
    }

    svg {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 10;
    }
}

.cardlink-contents {
    display: flex;
    flex-direction: row;
    min-width: 0;
    height: 150px;
}

.cardlink-image {
    height: 100%;
    margin: 0;
    width: auto;
    min-width: 0;
    border-radius: 0;
}

.cardlink-content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    min-width: 0;
}

.cardlink-title {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--tertiary);
    margin-bottom: 4px;
}

.cardlink-description {
    font-size: 0.9em;
    max-height: 4em;
    margin-bottom: 8px;
    color: var(--dark);
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

.cardlink-info {
    margin-top: auto;
}

.cardlink-favicon {
    width: 16px;
    height: 16px;
    margin: 0 0;
    margin-right: 8px;
    vertical-align: middle;
}

.cardlink-host {
    color: var(--tertiary);
}
